@import "tailwindcss";
@import "tw-animate-css";

@layer components {
  .card-text {
    @apply text-3xl font-bold;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
}
